[mysqld]
# character_set_server            = utf8mb4
# collation_server                = utf8mb4_0900_ai_ci

# Лог ошибок
# log_error = /var/log/mysql/error.log

# Recommended in standard MySQL setup
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES

# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

# Open bind address
bind-address=0.0.0.0
